

body {
	margin: 0;
	padding: 0;
	box-sizing:  none;
	font-family: "Segoe UI";
	overflow-x: hidden;
}

a  {
	color: white;
	 cursor: pointer;
    text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	background-color: white;
	padding: 10px;
	text-transform: capitalize;
	letter-spacing: 1px;
	font-weight: 100ß;
	text-align: center;
	outline: none;
	border: none;
	box-shadow: none;
	cursor: pointer;
}